<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>state</param-name>
        <param-value>UP</param-value>
    </context-param>
    <context-param>
        <param-name>city</param-name>
        <param-value>Noida</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.jtcindia.jsp.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.jtc</url-pattern>
    </servlet-mapping>
</web-app>